# 01 Variable
variable은 영어로 써야 해요. 숫자로 시작하면 안됩니다!

In [1]:
first = 5

In [2]:
0first = 5

SyntaxError: invalid syntax (Temp/ipykernel_16512/1441020419.py, line 1)

In [3]:
First = 6

In [4]:
first # 파이썬은 대소문자를 구분해요.

5

In [5]:
First

6

# 02 Numbers
함수 type()은 괄호 안에 넣은 데이터의 datatype을 보여줍니다.

In [6]:
type(27)

int

In [7]:
type(9182.3920)

float

In [8]:
type(40.0)

float

In [9]:
type(40)

int

## 2-1 Calculation

In [10]:
3+4

7

In [11]:
3-4

-1

In [12]:
3*4

12

In [13]:
3*4.0

12.0

In [14]:
3/4

0.75

In [15]:
3/4.0

0.75

In [16]:
3*4.00000000000000

12.0

In [17]:
3**4

81

In [18]:
3+4.0

7.0

In [19]:
9/5

1.8

In [20]:
9//5 #몫

1

In [21]:
9%5 # 나머지

4

## 2-2 Type changing
- 함수 int()는 괄호 안에 있는 숫자를 integer로 바꿔줍니다.
- 함수 float()은 괄호 안에 있는 숫자를 float으로 바꿔줍니다.

In [22]:
9/5

1.8

In [23]:
int(9/5) # float의 '정수 부분'을 return 해준다.

1

In [24]:
float(1)

1.0

In [25]:
type(9/5)

float

In [26]:
type(int(9/5))

int

# 03 String

In [27]:
python # variable

NameError: name 'python' is not defined

In [28]:
'python' # string

'python'

In [29]:
"python"

'python'

In [30]:
"My dog's ball"

"My dog's ball"

In [32]:
'I said, "Go Away!"'

'I said, "Go Away!"'

In [34]:
type(3)

int

In [35]:
type('3')

str

In [36]:
type('3.0')

str

In [37]:
'python"

SyntaxError: EOL while scanning string literal (Temp/ipykernel_16512/629688603.py, line 1)

파이썬의 대원칙! 열어주면 닫아준다. 근데 시작한 거랑 같은 걸로 닫아줘야 한다.

e.g) 큰 따옴표로 열어주면 큰 따옴표로 닫아야 한다.

In [38]:
food = "Python's favorite food is mouse."

In [39]:
food

"Python's favorite food is mouse."

Life is too short.

You need Python.

이 문장을 입력하려면 어떻게 해야 할까요?

In [40]:
python = "Life is too short\nYou need python"

In [41]:
python

'Life is too short\nYou need python'

In [42]:
print(python) # \n을 쓰면 한 줄 띄워주는구나!

Life is too short
You need python

## 3-1 String calculation

### (1) string과 string의 덧셈

In [43]:
head = 'python'
tail = ' is fun!'

In [44]:
head+tail

'python is fun!'

In [45]:
'python'+' is fun!'

'python is fun!'

### (2) string과 integer의 곱셈

In [46]:
a = 'apple'
a*5

'appleappleappleappleapple'

In [47]:
'apple'*5

'appleappleappleappleapple'

In [48]:
'lemon'*3.0

TypeError: can't multiply sequence by non-int of type 'float'

In [49]:
a = 'apple'
b = 'banana'
a*b

TypeError: can't multiply sequence by non-int of type 'str'

### (3) string끼리 뺄셈 ??

In [50]:
'python' - 'on'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

### (4) string끼리 나눗셈 ??

In [51]:
'python' / 'n'

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [52]:
'python' / 6

TypeError: unsupported operand type(s) for /: 'str' and 'int'

## 3-2 여러 가지 함수와 slicing, indexing

In [53]:
len('apple')

5

### (1) indexing
python은 index가 0부터 시작합니다!

'apple'

0번 index - a

1번 index - p

2번 index - p

3번 index - l

4번 index - e

In [54]:
a = 'apple'

In [55]:
a[0]

'a'

In [56]:
'apple'[0]

'a'

In [57]:
a[4]

'e'

In [58]:
a[-1]

'e'

'apple' 끝에서부터 세기

-5번 index - a

-4번 index - p

-3번 index - p

-2번 index - l

-1번 index - e

In [59]:
a[-3]

'p'

In [60]:
a[-5]

'a'

In [61]:
a[-6]

IndexError: string index out of range

In [62]:
python = 'Life is too short. You need Python.'

In [63]:
python[0]+python[1]+python[2]+python[3]

'Life'

### (2) slicing

In [64]:
python[0:4] # index가 0 이상 4 미만에 해당하는 모든 string을 return하는 거예요.

'Life'

In [65]:
python[:]

'Life is too short. You need Python.'

In [66]:
python[0:-1]

'Life is too short. You need Python'

In [67]:
python[5:] # index 5 이상. 끝까지.

'is too short. You need Python.'

In [68]:
python[:4] # 처음부터 index 4 미만

'Life'

In [69]:
python[:5]

'Life '

### (3) string is immutable
= 바꿀 수 없다

In [70]:
a = 'Pithon'

In [71]:
a[1]

'i'

In [72]:
a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [73]:
a[0] + 'y' + a[2:]

'Python'

In [74]:
a = 'pithon'
a = 'python'

In [75]:
a # 이럴 땐 그냥 덮어쓰는 게 좋습니다.

'python'

### (4) 여러 가지 함수 (이해를 돕기 위해 함수라고 썼지만.. 사실은 method예요.)
- 함수 : 함수(값)
- 메쏘드 : 데이터.메쏘드(그 메쏘드에서 필요로 하는 것들)

In [76]:
a = 'hobby'

In [77]:
a.count('b') # a라는 string 안에 'b'가 몇 개 들어있는 지 알려줌

2

In [78]:
a.count('n')

0

In [79]:
python = 'Life is too short. You need python.'

In [80]:
python.find('o') # 주어진 string의 가장 첫번째에 나오는 o의 index를 return.

9

In [81]:
python.find('k') # -1이 나오면 'k라는 스트링은 여기에 없다'

-1

In [82]:
python.index('o')

9

In [83]:
python.index('k')

ValueError: substring not found

abcd --> a,b,c,d 이렇게 만들려면 어떻게 해야 할까요?

In [84]:
','.join('abcd')

'a,b,c,d'

In [85]:
a = 'hi'
a.upper()

'HI'

In [86]:
b = 'HELLO'
b.lower()

'hello'

In [87]:
"Pithon".replace('i', 'y')

'Python'

## 3-3 Formatting

In [88]:
# print 할 때 comma로 연결할 수 있어요
print('apple', 'banana')

apple banana

In [89]:
a = 7

In [90]:
print('temperature is:', a)

temperature is: 7

### (1) 가장 기본적인 formatting (% 사용)
- d : integer
- f : float
- s : string

In [92]:
print('temperature is %d' % a)

temperature is 7

In [93]:
b = 3
print('I ate %d apples today.' % b)

I ate 3 apples today.

In [94]:
d = 'dog'
print('I love %s' % d)

I love dog

In [95]:
c = '3'
print('I ate %s apples today.' % c)

I ate 3 apples today.

In [96]:
print('error rate is %f %%'%0.3)
# %를 써서 formatting을 할 때, 우리가 아는 퍼센트 기호는 %%를 써야 나옵니다.

error rate is 0.300000 %

In [97]:
print('error rate is 0.3%') # formatting 안 할 때는 그냥 % 기호 쓰면 돼요.

error rate is 0.3%

In [98]:
print('error rate is %0.3f %%'%0.128309128309124091709)
# 0.xf : 소수 x번째 자리만큼 float type으로 출력해라.

error rate is 0.128 %

In [99]:
print('error rate is %d %%'%0.13948914809)
# formatting에서 d를 넣으라고 시켰기 때문에 그 float의 정수 부분이 나오는 것.

error rate is 0 %